* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* utility selectors */

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

.centering {
    justify-content: center;
    align-items: center;
}

.flex {
    flex: auto;
}